.register-header {
  font-size: 2rem;
  color: #f35422;
  text-align: center;
  margin: 20px 0;
}

.register-form {
  background-color: #fff;
  padding: 20px;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form select,
.register-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.register-button {
  background-color: #f35422;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.register-button:hover {
  background-color: #d84315;
}

.register-button:active {
  transform: scale(0.98);
}

.register-link {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #f35422;
  text-decoration: none;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
  transition: color 0.3s;
}

.register-link:hover {
  color: #d84315;
}
