{% extends 'base/base.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <section class="padding-section">
        <article class="news-article">
            <h2 itemscope itemtype="http://schema.org/Article" autofocus>{{article.title}}</h2>
            <p itemprop="datePublished" class="publish-date">Published on {{ article.published_date|date:"d.m.y" }}</p>
            {% if article.author %}
                <p itemprop="author" class="author">By {{ article.author }}</p>
            {% else %}
                <p itemprop="author" class="author">Unknown Author</p>
            {% endif %}
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-preview">
            {% endif %}
            <p itemprop="articleBody" class="article-content-col">{{ article.content }}</p>
        </article>
    </section>
{% endblock %}
