{% extends 'base/base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<h2 class="contacts-header">Our Workers</h2>
{% if doctors %}
    {% for doctor in doctors %}
        <div class="contact-doctor">
            <div class="profile-pic">
                {% if doctor.profile_pic %}
                    <img src="{{ doctor.profile_pic.url }}" alt="{{ doctor.first_name }}">
                {% endif %}
                <p>{{ article.content }}</p>
            </div>
            <h3 class="name-speciality">{{ doctor.first_name }} {{ doctor.last_name}} – {{ doctor.speciality }}</h3>
            <p>{{ doctor.phone_number }}</p>
            <p>{{ doctor.email }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No one to contact at the moment.</p>
{% endif %}
<div class="contacts">
    <p>Or contact us at info@clinic.com<p>
</div>
{% endblock %}
