{% extends 'base/base.html' %}

{% block title %}Discounts{% endblock %}

{% block content %}
  <div class="discount-content">
    <h2>Discounts</h2>
    {% if discounts %}
        {% for discount in discounts %}
            <h3>{{ discount.title }}</h3>
            <p>{{ discount.description }}</p>
            {% if discount.valid_until %}
                {% if discount.is_past_due %}
                    <div class="is-expired">
                        <h4>{{ is_expired }}</h4>
                    </div>
                {% else %}
                    <div class="is-available">
                        <h4>Valid until: {{ discount.valid_until|date:"d.m.y" }}</h4>
                    </div>
                {% endif %}
            {% else %}
                <div class="is-available">
                    <h4>No expiration date yet.</h4>
                </div>
            {% endif %}
            <hr>
        {% endfor %}
    {% else %}
        <p>No discounts currently available.</p>
    {% endif %}
  </div>
{% endblock %}
