{% extends 'base/base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="faq-content">
    <h2>Frequently Asked Questions</h2>
    {% if faqs %}
        {% for faq in faqs %}
            <details class="answer" lang="en">
                <summary><strong>{{ faq.question }}</strong></summary>
                {{ faq.answer }}
            </details>
            <hr>
        {% endfor %}
    {% else %}
        <p>No FAQs available.</p>
    {% endif %}
</div>
{% endblock %}
