{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
    a {
        color: gray;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .register-link {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
</style>
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'register_client' %}" class="register-link">Don't have an account? Sign up</a>
{% endblock %}
