{% extends 'base/base.html' %}

{% block title %}News{% endblock %}

{% block content %}
<main>
    <header>
        <h1>News</h1>
    </header>

    <section class="new">
        {% if articles %}
            {% for article in articles %}
                <article class="news1-article">
                    <header>
                        <h2>
                            <a href="{% url 'article' slug=article.slug %}" class="news1-title">
                                {{ article.title }}
                            </a>
                        </h2>
                    </header>
                    {% if article.image %}
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    {% endif %}
                    {% if article.author %}
                        <p class="author">By {{ article.author }}</p>
                    {% endif %}
                    <p class="publish-date">Published on {{ article.published_date|date:"d.m.y" }}</p>
                    <p class="content" >{{ article.content }}</p>
                    <a href="{% url 'article' slug=article.slug %}" class="read-more" ></a>
                </article>
            {% endfor %}
        {% else %}
            <p>No news articles available.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
