{% extends 'base/base.html' %}
{% load static %}
{% block title %}Reviews{% endblock %}

{% block content %}
<h2>Reviews</h2>
{% if user.is_authenticated %}
    <div class="input-block">
        <form action="{% url 'add_review' %}" method="post">
            {% csrf_token %}
            <label for="rating" class="rating-label" >Your rating</label>
            <select name="rating" id="rating" class="rating-stars" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label for="text" class="opinion-label">Your opinion:</label>
            <input id="text" type="text" name="text" spellcheck class="opinion-form">
            <br>
            <label for="date" disabled>Date of visit</label>
            <input id="date" type="date" name="date" disabled>
            <br>
            <label for="would_recommend">Would recommend</label>
            <input type="radio" id="would_recommend" name="would_recommend" value="yes">
            <br>
            <button type="submit" class="submit-button">Add review</button>
            <button type="reset" class="reset-button">Reset</button>
        </form>
    </div>
{% endif %}
{% if reviews %}
    {% for review in reviews %}
        <div class="review">
            <h3>{{ review.user_profile.first_name }} – {{ review.rating }}/5</h3>
            <p translate="yes">{{ review.text }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No reviews at the moment.</p>
{% endif %}
<div class="contacts">
    <p>Contact us at info@clinic.com<p>
</div>
<video height="300" width="600" controls muted>
    <source src="{% static 'Motörhead – Overkill (Official Video).mp4' %}">
</video>
<audio controls>
    <source src="{% static 'Motörhead – Overkill (Official Video).mp3' %}">
</audio>
{% endblock %}
