{% extends 'base/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
    <h2>Services</h2>
    {% if services %}
        {% for service in services %}
            <div class="service">
                <h3>{{ service.name }} – ${{ service.price }}</h3>
                <h4>Doctor {{service.doctor_id.user_id.first_name}} {{service.doctor_id.user_id.last_name}}</h4>
                <p>{{ service.description }}</p>
                {% if user.is_authenticated %}
                {% if group in request.user.groups.all %}
                    <p class="doctor-message">You're doctor! if you need an appoinment register as user!</p>
                {% else %}
                    <form method="post" action="{% url 'appointment_add' %}">
                        {% csrf_token %}
                        <input type="text" hidden value="{{service.id}}" name="service_id">
                        <input type="text" hidden value="{{ user.id }}" name="user_id">
                        <button type="submit">Add Appointment</button>
                    </form>
                {% endif%}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p class="no-services">No services available at the moment.</p>
    {% endif %}
{% endblock %}
